<!DOCTYPE html>
<html lang="en">

<head>

  <!--Meta stuff-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--Title-->
  <title>Alternative Websites</title>

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!--Custom CSS-->
  <link rel="stylesheet" href="./src/css/main.css">

  <!--Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- VueJs -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Json to csv parser -->
  <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>

</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Dashboard</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Home page -->
    <div class="container-fluid">
      <!-- Search form -->
      <div class="row">
        <div class="col-2">
          <!--Search bar-->
          <input class="form-control" @keydown="search" v-model="searchQuery" type="text" placeholder="Search"
            aria-label="Search">
          <hr>
          <!-- Buttons -->
          <div class="btn-group-vertical my-2">
            <button type="button" class="btn btn-dark my-1">Get data</button>
            <button type="button" class="btn btn-dark my-1"><a v-bind:href="href" v-bind:download="download">
              Save to CSV</a></button>

          </div>
          <div class="btn-group-vertical my-2">
            <button type="button" class="btn btn-dark my-1">Build graphs</button>
            <button type="button" class="btn btn-dark my-1" data-toggle="collapse"
              data-target="#collapse">Preview</button>
          </div>
        </div>
        <div class="col">
          <main role="main" class="container-fluid">
            <div v-if="data.rows" class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col" v-for="column in data.columns">{{ column }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in data.rows">
                    <td v-for="column in data.columns"> {{ row[column] }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      
    </footer>

  </div>
  <!--Bootstrap & Vue-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="../client/src/js/app.js">
  </script>

</body>

</html>